
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border: 0px solid #ffffff;
  border-radius: 49px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}
::-webkit-scrollbar-thumb:active {
  background: #6c6c6c;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border: 6px solid #ffffff;
  border-radius: 56px;
}
::-webkit-scrollbar-track:hover {
  background: #f50a0a;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}